In [ ]:
from google.colab import drive
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

In [ ]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
MAIN_DIR = "/content/drive/MyDrive/PIAIC/assignment_resources/pandas"

In [ ]:
inventory = pd.read_csv(f"{MAIN_DIR}/inventory.csv")
all_census = [pd.read_csv(el) for el in sorted(glob(f"{MAIN_DIR}/states[0-9].csv"))]

In [ ]:
census = pd.concat(all_census)

In [ ]:
census.head(10)

   Unnamed: 0                 State  ...               Income            GenderPop
0           0               Alabama  ...   $43296.35860306644    2341093M_2489527F
1           1                Alaska  ...   $70354.74390243902      384160M_349215F
2           2               Arizona  ...   $54207.82095490716    3299088M_3342840F
3           3              Arkansas  ...   $41935.63396778917    1451913M_1506295F
4           4            California  ...   $67264.78230266465  19087135M_19334329F
5           5              Colorado  ...  $64657.801787164906    2648667M_2630239F
0           0              Colorado  ...  $64657.801787164906    2648667M_2630239F
1           1           Connecticut  ...    $76146.5605875153    1751607M_1841615F
2           2              Delaware  ...   $61827.97663551402      448413M_478041F
3           3  District of Columbia  ...   $75466.36363636363      306674M_340810F

[10 rows x 11 columns]

In [ ]:
census.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
census.reset_index(drop=True, inplace=True)

In [ ]:
census.head(15)

                   State  TotalPop  ...               Income            GenderPop
0                Alabama   4830620  ...   $43296.35860306644    2341093M_2489527F
1                 Alaska    733375  ...   $70354.74390243902      384160M_349215F
2                Arizona   6641928  ...   $54207.82095490716    3299088M_3342840F
3               Arkansas   2958208  ...   $41935.63396778917    1451913M_1506295F
4             California  38421464  ...   $67264.78230266465  19087135M_19334329F
5               Colorado   5278906  ...  $64657.801787164906    2648667M_2630239F
6               Colorado   5278906  ...  $64657.801787164906    2648667M_2630239F
7            Connecticut   3593222  ...    $76146.5605875153    1751607M_1841615F
8               Delaware    926454  ...   $61827.97663551402      448413M_478041F
9   District of Columbia    647484  ...   $75466.36363636363      306674M_340810F
10               Florida  19645772  ...  $50690.194986743794   9600009M_10045763F
11               Georgia  10006693  ...   $50811.08205128205    4883331M_5123362F
12               Georgia  10006693  ...   $50811.08205128205    4883331M_5123362F
13                Hawaii   1406299  ...   $73264.42628205128      709871M_696428F
14                 Idaho   1616547  ...   $48017.31543624161      810464M_806083F

[15 rows x 10 columns]

In [ ]:
census.Income = census.Income.str.replace("$", "").astype(float)

In [ ]:
census.head()

        State  TotalPop  ...        Income            GenderPop
0     Alabama   4830620  ...  43296.358603    2341093M_2489527F
1      Alaska    733375  ...  70354.743902      384160M_349215F
2     Arizona   6641928  ...  54207.820955    3299088M_3342840F
3    Arkansas   2958208  ...  41935.633968    1451913M_1506295F
4  California  38421464  ...  67264.782303  19087135M_19334329F

[5 rows x 10 columns]

In [ ]:
census.dtypes

State         object
TotalPop       int64
Hispanic      object
White         object
Black         object
Native        object
Asian         object
Pacific       object
Income       float64
GenderPop     object
dtype: object